services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile

      args:
        NODE_ENV: ${NODE_ENV}
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    image: frontend
    container_name: frontend
    restart: always
    ports:
      - "${PORT}:3000"
    env_file:
      - .env
    networks:
      - frontend

networks:
  frontend:
    driver: bridge
