services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: backend
    container_name: backend
    restart: always
    ports:
      - "${PORT}:8000"
    env_file:
      - .env
    networks:
      - backend

networks:
  backend:
    driver: bridge
