services:
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
      args:
        NODE_ENV: ${NODE_ENV}
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    image: jjoonleo/2025re-althon-10-frontend
    container_name: frontend
    restart: unless-stopped
    ports:
      - "${FRONTEND_PORT}:3000"
    env_file:
      - ../frontend/.env
    networks:
      - frontend

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    image: jjoonleo/2025re-althon-10-backend
    container_name: backend
    restart: unless-stopped
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - "${BACKEND_PORT}:8000"
    networks:
      - backend

  api-gateway:
    image: nginx
    container_name: api-gateway
    ports:
      - "${NGNIX_PORT}:80"
    restart: unless-stopped
    volumes:
      - ../nginx:/etc/nginx
    depends_on:
      - backend
      - frontend
    deploy:
      resources:
        limits:
          memory: 700M
    networks:
      - backend
      - frontend
    labels:
      logging: "promtail"

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge
