name: Deploy to EC2

on:
  workflow_run:
    workflows: ["Build and Push Docker Images"]
    types:
      - completed
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Clean EC2_HOST
        run: |
          CLEAN_HOST=$(echo "${{ secrets.EC2_HOST }}" | sed -E 's|^(https?\|tcp)://||')
          echo "EC2_HOST=$CLEAN_HOST" >> $GITHUB_ENV
          echo "EC2_HOST=$CLEAN_HOST"

      - name: Copy files to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ env.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          port: 22
          source: "docker/*,nginx/*"
          target: "/home/${{ secrets.EC2_USERNAME }}/app"

      - name: Deploy on EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          port: 22
          script: |
            cd /home/${{ secrets.EC2_USERNAME }}/app/docker

            # Pull latest images
            sudo docker compose -f app.yml -f db.yml pull

            # Restart services
            sudo docker compose -f app.yml -f db.yml up -d

            # Cleanup unused images
            sudo docker system prune -f
